<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Custom Log Grep Report</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/androidstudio.css">
    </head>

    <body>
        <section class="report">
            <a href="#" title="">
                <img src="img/detective.jpg" alt="logo">
            </a>
            <h1 id="title">Custom Log Grep Report</h1>
            <p>Questions?<br>Email : steve.blair@consumer.org <br> This is a hacked together grep report tool.</em>. <br> Report generated on
                <time datetime="now_rfc3339">{{ now_rfc2822 }}</time>.</p>
          
           
            <ul>
                <li>Functionality Check (1 = pass):
                    {{#if criticals }}
                        <span class="critical">{{ criticals_len }}</span>
                        
                    {{else}}0{{/if}}
                </li>
                <li>Custom Strings Found:
                    {{#if highs }}
                        <span class="high">{{ highs_len }}</span>
                        
                    {{else}}0{{/if}}
                </li>
            </ul>
            <h2>Findings:</h2>
            
            {{#if highs }}
                <h3 id="high">Custom Strings Found:
                    <a href="#title" title="Top">⇮</a>
                </h3>
                {{#each highs }}
                    {{> vulnerability list_len=../highs_len }}
                {{/each}}
            {{/if}}
        </section>
        <footer>
            <p>...</p>
        </footer>
        <script src="js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script>
            $('.vulnerability h4 a.collapse').click(function (event) {
                event.preventDefault();
                $(this).parents('section.vulnerability').find('ul div').hide('slow');
                $(this).hide('fast');
                $(this).prev('a').show('fast');
            });
            $('.vulnerability h4 a.show').click(function (event) {
                event.preventDefault();
                $(this).parents('section.vulnerability').find('ul div').show('slow');
                $(this).hide('fast');
                $(this).next('a').show('fast');
            });
        </script>
    </body>

</html>